<mat-toolbar color="primary">
  <span>ShipCrews</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/">{{"Home" | translate }}</button>
  <button mat-button routerLink="/certificate-type-create">{{"ADD_CERTIFICATE_TYPE" | translate }}</button>
  <div class="language-selector">
    <mat-select
      placeholder="Language"
      (selectionChange)="switchLanguage($event.value)"
      class="language-dropdown"
    >
      <mat-option value="en">English</mat-option>
      <mat-option value="fr">French</mat-option>
      <mat-option value="pt">Portuguese</mat-option>
    </mat-select>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>