.certificate-type-card {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.half-width {
    width: 75%;
    margin-bottom: 16px;
}

mat-card-title {
    font-size: 24px;
    font-weight: bold;
}

mat-card-content {
    padding: 16px;
}

mat-card-actions {
    padding: 16px;
    display: flex;
    justify-content: flex-end;
}

mat-label {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}